@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    overflow-y: hidden;
}

main{
    padding: 2rem;
    position: relative;
}

h1,
h2,
h3 {
    font-size: 2rem;
}

.hero__container {
    display: flex;
}

.hero__container h1 {
    font-size: 100px;
    margin-right: 20px;
    display: flex;
    font-family: "IBM Plex Sans", sans-serif;
}

.hero__subheading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

.hero__subheading span {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-right: 0.5rem;
}

.letter__container {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: end;
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.menu{
    background-color: black;
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image{
    width: 50vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: -1;
    background-size: cover;
    transform: scaleX(-1);
    background-image: url("https://images.unsplash.com/photo-1570641963303-92ce4845ed4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1487&q=80");
}

.background-pattern {
    width: 40vw;
    height: 30vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: -1;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0% 30%);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(5) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z'  stroke-width='0.5' stroke='hsla(259, 0%, 85%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-110)' fill='url(%23a)'/></svg>");
}

.jumbotron {
    position: relative;
    display: inline-block;
}

.jumbotron img {
    width: 300px;
    margin-top: 2rem;

    height: 300px;
    object-fit: cover;
    margin-right: 1rem;
    object-position: 20px 20px;
    cursor: pointer;
}
.jumbotron img:hover {
    filter: grayscale(1);
}

.main-image {
    position: absolute;
    left: calc(50vw - 250px);
    top: 50%;
}

.main-image img {
    object-fit: cover;
    position: fixed;
    width: 400px;
}

.main-image img:hover {
    filter: grayscale(1);
}

.info__container {
    margin: 1rem;
    width: 35vw;
}
.info__container p {
    margin-top: 1rem;
    line-height: 2;
    font-size: 1.2rem;
}

.next-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#heading2{
    display: none;
}
.slide.active {
    z-index: 99;
}

@media (max-width: 1600px) {
    .main-image {
        display: none;
    }    
}

@media (max-width: 1000px) {

    .main-image {
        display: none;
    }
    .jumbotron img {
        width: 100%;
    }
    body {
        overflow-y: auto;
    }
    .background-image {
        display: none;
    }
    .hero__container h1 {
        font-size: 4rem;
        display: flex;
    }
    .letter__container {
        margin-top: 1rem;
       height: auto;

    }
    .info__container{
        width: 100%;
    }
}
